{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'profile:user' pk=user.pk %}">Update account info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile:profile' pk=user.pk %}">Update profile info</a>
                </li>

            </ul>
            <br>
            <br>
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
{% endblock %}