{% extends "base.html" %}

{% block title %}
    {{ hotel.title }}
{% endblock %}

{% block meta %}
    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Hotel",
    "name":"{{ hotel.title }}",
    "address":{
        "@type":"Text",
        "text":"{{ hotel.address }}"
                },
    "starRating"{
        "@type":"Rating",
        "ratingValue":"{% withratio hotel.rating 2 1 %}"
                }
    }
    </script>

    <meta name="description" content="{{ hotel.title }} in {{ hotel.city }}. {{ hotel.stars }} stars.">
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <h2>{{ hotel.title }} hotel</h2>
            <ul>
                <li>Address: {{ hotel.address }}</li>
                <li>{{ hotel.stars }} stars</li>
                <li>City: {{ hotel.city }}</li>
                <li>Features:
                    {{ hotel.features.all|join:", " }}
                </li>
                <li>Rating: {{ hotel.rating }}</li>
                <li>Views: {{ views }}</li>
            </ul>
            {% if perms.main.add_hotel %}
                <p>
                    <a class="btn btn-primary" href="{% url 'main:hotel_update' pk=hotel.pk %}" role="button">Edit
                        hotel</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}