{% extends 'base.html' %}
{% load main_extras %}

{% block title %}Hotelbook{% endblock %}

{% block content %}

    <main role="main" class="container">
        <br>
        {% if is_owner %}
            <div class="alert alert-info" role="alert">
                You have an <b>owner</b> account and can add your hotels!
            </div>
        {% endif %}
        <div class="starter-template">
            <h3>Your username: <span class="badge bg-secondary">{{ user.username }}</span></h3>
            <p>Current server time: {% current_time %}</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Amet atque commodi consectetur consequuntur corporis delectus, deserunt dicta ducimus,
                eveniet ipsam, iusto nam officiis possimus qui quos rem repellendus repudiandae voluptatum.</p>
        </div>

    </main>

{% endblock %}


