{% extends 'base.html' %}
{% load static %}
{% load main_extras %}

{% block title %}Hotelbook{% endblock %}

{% block content %}

    <main role="main" class="container">
        <br>
        {% if perms.main.add_hotel %}
            <div class="alert alert-info" role="alert">
                You have an <b>owner</b> account and can add your hotels!
            </div>
        {% endif %}
        <div class="starter-template">
            {% if request.user.is_authenticated %}
                <h3>Your username: <span class="badge bg-secondary">{{ request.user.username }}</span></h3>
            {% endif %}
            <p>Current server time: {% current_time %}</p>
            <p>{{ 'Hello, world!'|reverse }}</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Amet atque commodi consectetur consequuntur corporis delectus, deserunt dicta ducimus,
                eveniet ipsam, iusto nam officiis possimus qui quos rem repellendus repudiandae voluptatum.</p>
        </div>
        <div class="row">
            <div class="col-6">
                <textarea id="chat-log" cols="50" rows="10"></textarea><br/>
                <input id="chat-message-input" type="text" size="50"/><br/>
                <button id="chat-message-submit" class="btn btn-primary btn-block" type="button">Send</button>
                <script src="{% static 'js/chat.js' %}"></script>
            </div>
        </div>
    </main>

{% endblock %}


